* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;

  --rosa: #FF1053;
  --azul-escuro: #6C6EA0;
  --azul-claro: #66C7F4;
  --cinza: #66C7F4;
  --black: #000;

}

:root {
  font-family: 'calibri';
  font-size: 20px;
}

.page_container {
  margin: auto;
  max-width: 1200px;
}

.page_container--login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FEFFFC;
}

.login_box {
  flex-basis: 500px;
  /* max-width: 500px; */
  margin: auto;
  padding: 64px 49px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_box--login_form {
  margin-top: 23px;
}

.login_form--field_name {
  font-weight: 400;
  line-height: 22px;
  display: block;
  margin-top: 13px;
}

.login_box--title {
  font-size: 24px;
  line-height: 26px;
  margin-top: 13px;
}

.login_form--text_field {
  margin-top: 13px;
  width: 100%;
  height: 41px;
  display: block;
  border-width: 1px 1px 5px 1px;
  border-style: solid;
  border-color: var(--azul-escuro);
  padding-left: 5px;
  outline: none;
  font-size: 0.8rem;
  font-weight: lighter;
}

.login_form--keepon {
  margin-top: 27px;
}

.keepon--label {
  margin-left: 14px;
}

.login_form--submit {
  margin-top: 17px;
  background-color: #6C6EA0;
  font-size: 1rem;
  padding: 4px 24px;
  color: #FEFFFC;
  outline: none;
  border: none;
}

.login_form--submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.login_box--warning {
  display: block;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #FF4040;
}

.site_menu--list_of_links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: center;
  padding: 22px;
}

.list_of_links--link {
  font-weight: 700;
  font-size: 0.81rem;
  line-height: 17px;
  color: var(--black);
  text-decoration: none;
}

.page_container--random_user_page {
  padding: 0 40px;
}

.page_content--page_title {
  font-weight: 700;
  font-size: 1rem;
}

.page_content--page_description {
  font-weight: 400;
  font-size: 0.81rem;
  line-height: 17px;
}

.page_content--cards_listing {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  margin-top: 26px;

}

.card_listing--user_card {
  flex-basis: 50%;
  align-self: flex-start;
  padding: 24px 0;
  margin-top: 20px;
  border-width: 0px 0px 0px 44px;
  border-color: var(--azul-escuro);
  border-style: solid;
  position: relative;
  box-shadow: -6px 4px 5px rgba(0, 0, 0, 0.25);
}

.user_card--user_image {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: -30px;
}

.user_card--user_infos {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.user_infos--info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.5);

}

.post_listing--pagination {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin: 13px;
}

.pagination--index {
  width: 20px;
  height: 18px;
  border-radius: 50%;

  border: 0.5px solid #6C6EA0;
  flex-shrink: 0;

  cursor: pointer !important;
}

.pagination--index_selected {
  background: #6C6EA0;
}

/* Search box */

.page_content--search_box {
  display: block;
  width: 179px;
  height: 27px;

  padding-left: 5px;
  margin-top: 26px;

  background: #FFFFFF;
  border: 1px solid #000000;

  font-size: 0.8rem;

  outline: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--azul-escuro);
}