* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;

  --rosa: #FF1053;
  --azul-escuro: #6C6EA0;
  --azul-claro: #66C7F4;
  --cinza: #66C7F4;


}

:root {
  font-family: 'calibri';
  font-size: 20px;
}

.page_container {
  margin: auto;
  max-width: 1200px;
}

.page_container--login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FEFFFC;
}

.login_box {
  flex-basis: 500px;
  /* max-width: 500px; */
  margin: auto;
  padding: 64px 49px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_box--login_form {
  margin-top: 23px;
}

.login_form--field_name {
  font-weight: 400;
  line-height: 22px;
  display: block;
  margin-top: 13px;
}

.login_box--title {
  font-size: 24px;
  line-height: 26px;
  margin-top: 13px;
}

.login_form--text_field {
  margin-top: 13px;
  width: 100%;
  height: 41px;
  display: block;
  border-width: 1px 1px 5px 1px;
  border-style: solid;
  border-color: var(--azul-escuro);
  padding-left: 5px;
  outline: none;
  font-size: 0.8rem;
  font-weight: lighter;
}

.login_form--keepon {
  margin-top: 27px;
}

.keepon--label {
  margin-left: 14px;
}

.login_form--submit {
  margin-top: 17px;
  background-color: #6C6EA0;
  font-size: 1rem;
  padding: 4px 24px;
  color: #FEFFFC;
  outline: none;
  border: none;
}

.login_form--submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.login_box--warning {
  display: block;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #FF4040;
}